<% if (duck == null) { %>

<p>Unkown duck "<%= duckId %>". Did you spell it right?</p>

<% } else { %>

<p>You found <%= duck.name %>! (Duck #<%= duck.number %>)</p>
<p><img src="<%= duck.image %>" /></p>
<p>Welcome to the duck hunt!</p>
<p>Please Tweet at or DM us <a href="https://twitter.com/ducks_umn">on Twitter</a>, or tag or DM us <a href="https://www.instagram.com/ducks.umn/">on Instagram</a>!</p>
<p>Also see the <a href="/">duck listing</a>.</p>

<% } %>
