<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/static/global.css" />
  <%- htmlInject %>
</head>

<body>

<img id="background" src="/static/back.jpg" />
<div id="sheet"></div>

<br />

<div id="content">

  <nav>
    <a href="/"><h1>UMN Duckhunt<img id="badge" src="/static/duck-1.png" /></h1></a>
    <h2>No, this isn't a club advertisement</h2>

    <% socials = typeof socials === 'undefined' ? true : socials; %>
    <% if (socials) { %>
      <div id="socials">
        <a href="https://twitter.com/ducks_umn" target="_blank"><img src="/static/twitter.svg" /></a>
        <a href="https://www.instagram.com/ducks.umn/" target="_blank"><img src="/static/instagram.png" /></a>
      </div>
    <% } %>
  </nav>
