<%- include('header') %>

<% ducks = Object.values(ducks).sort((a, b) => b.status.since - a.status.since); %>

<div class="ducks">
  <% for (const duck of ducks) { %>
    <%- include('duck', { duck }) %>
  <% } %>
</div>

<style>
.ducks {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1em;
}
</style>

<%- include('footer') %>
